@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

nav {
/* width: 1000px; */
width: 95%;
max-width: 100%;
  /* width: 1200px; */
  border-radius: 12px;
  height: 50px;
  border: none;
  justify-content: space-around;
  /* padding: 12px; */
  display: flex;
  justify-content: space-between;
  margin: -10px auto;
  overflow: hidden;
}

.navImage {
  width: 20px;
  text-align: center;
}
.navImageDiv {
  padding: 8px;
  border: 1px solid rgba(116, 72, 169, 0.4);
  border-radius: 12px;
  justify-content: center;
  background-color:rgba(128, 0, 128, 0.4);
  height: 20px;
}
.nav-links {
  margin-top: 15px;
}
.ticz-box {
  display: flex;
}
.nav-links a {
  margin-left: 10px;
  text-decoration: none;
  /* margin-top: 30px; */
}
.my-ticket-btn {
  padding: 14px;
  /* height: 10px; */
  background-color: var(--white);
  border-radius: 12px;
  outline: none;
  text-align: center;
  text-decoration: none;
  color: #0a0c11;
  font-family: var(--Jeju);
  font-size: 16px;
  /* margin-top: ; */
}
.ticz-text {
  /* width: 44px; */
  margin-top: 5px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 7px;
  font-weight: bolder;
  font-size: 20px;
}
.first-link {
  color: #ffffff;
  font-size: 16px;
  margin-right: 30px;
}
.second-link,
.third-link {
  color: #b3b3b3;
}
.second-link{
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  nav {
   
    width: 85%;
    max-width: 100%;
      /* width: 1200px; */
      border-radius: 12px;
      height: 50px;
      border: 1px solid #197686;
      justify-content: space-around;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      margin: 10px auto;
      overflow: hidden;
    }
}
